<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <center><b> My Profile</b></center> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"><center style="color: cadetblue;">My Profile</center> </ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <center>
  <img src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.0-9/161457235_1185437968526070_5095984089186751679_o.jpg?_nc_cat=109&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeGIuOPfoGd3gD5wFtF_DCm8Q0Bh8WgXwzNDQGHxaBfDM07bryxlmpyTIDfIRc1h5jgbgLModoCQKWbO0yHoSAk2&_nc_ohc=FfF9hoDGUAwAX9kC95H&_nc_ht=scontent.fdvo1-1.fna&oh=8bed92bfb4040c82f1f3e1149bb5de51&oe=6076103B" alt="John" style="border-radius: 500px; height: 200px; width: 200px; border: solid 5px; border-color: blanchedalmond;">
  <h1 style="color: darkcyan;">Afable Renie A.</h1>
  <p class="title"><b>Programer & Developer</b> </p>
  <p>Eastern Visayas State Univesity</p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <!-- <p><button>Contact</button></p> -->
  </center>
</div>

  
</ion-content>
